<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Acerca de</title>
    <link rel="stylesheet" href="static/styles.css">
</head>
<body>

    <header>
        <h1>Acerca de</h1>
        <nav>
            <ul>
                <li><a href="/">Inicio</a></li>
                <li><a href="/acerca">Acerca de</a></li>
                <li><a href="/contacto">Contacto</a></li>
                <li><a href="/mediciones">Mediciones en Tiempo Real</a></li>
                <li><a href="/descargas">Descargas</a></li>
            </ul>
        </nav>
    </header>

    <section class="main-content">
        <h2>Quiénes somos</h2>
        <p class="text-justify">El objetivo de la central meteorológica es medir parámetros de pluviosidad y radiación recibidos por un cultivo de fresa.La medición de estos parámetros nos permitirá saber cuándo se ha superado los máximos umbrales efectivos de la fresa y activar un techo retráctil para proteger a los cultivos de la exposición excesiva a estos fenómenos naturales. Esto tendría grandes resultados en el ahorro de energía, ya que en lugar de simular radiación UV mediante lámparas o regar el cultivo, estaríamos aprovechando los recursos naturales sin poner en riesgo una exposición excesiva.</p>
        <div class="image-container">
            <img src="/static/fresaa.jpg" alt="Fresa">
        </div>
    </section>

    <footer>
        <p>&copy; 2023 EcoClimateHubUDEP</p>
    </footer>

</body>
</html>
