<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EcoClimateHubUDEP</title>
    <link rel="stylesheet" href="static/styles.css">
</head>
<body>

    <header>
        <h1>EcoClimateHubUDEP</h1>
        <nav>
            <ul>
                <li><a href="/">Inicio</a></li>
                <li><a href="/acerca">Acerca de</a></li>
                <li><a href="/contacto">Contacto</a></li>
                <li><a href="/mediciones">Mediciones en Tiempo Real</a></li>
                <li><a href="/descargas">Descargas</a></li>
            </ul>
        </nav>
    </header>

    <section class="main-content">
        <h2>Bienvenido a EcoClimateHubUDEP</h2>
        <p>Explora nuestras mediciones meteorológicas en tiempo real y descubre más sobre nosotros.</p>
    </section>


    <footer>
        <p>&copy; 2023 EcoClimateHubUDEP</p>
    </footer>

</body>
</html>
