<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mediciones en Tiempo Real</title>
    <link rel="stylesheet" href="static/styles.css">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body>

    <header>
        <h1>Mediciones en Tiempo Real</h1>
        <nav>
            <ul>
                <li><a href="/">Inicio</a></li>
                <li><a href="/acerca">Acerca de</a></li>
                <li><a href="/contacto">Contacto</a></li>
                <li><a href="/mediciones">Mediciones en Tiempo Real</a></li>
                <li><a href="/descargas">Descargas</a></li>
            </ul>
        </nav>
    </header>


    <section class="main-content">
        <h2>Visualización de Datos en Tiempo Real</h2>
        <p>Aquí encontrarás gráficos y datos meteorológicos en tiempo real.</p>
        <!-- Contenedor para los gráficos -->
        <div class="graph-container">
            <!-- Gráfico para la lluvia -->
            <canvas id="rainChart" width="300" height="150"></canvas>

            <!-- Gráfico para la radiación UV -->
            <canvas id="uvChart" width="300" height="150"></canvas>

            <!-- Gráfico para la temperatura -->
            <canvas id="temperatureChart" width="300" height="150"></canvas>

            <!-- Gráfico para la humedad -->
            <canvas id="humidityChart" width="300" height="150"></canvas>
        </div>
    </section>

    <footer>
        <p>&copy; 2023 EcoClimateHubUDEP</p>
    </footer>
    <script>
        // Inicializa los datos y las opciones para los gráficos
        var rainData = {
            labels: [],
            datasets: [{
                label: 'Lluvia',
                data: [],
                fill: false,
                borderColor: 'rgba(75, 192, 192, 1)',
                tension: 0.1
            }]
        };

        var uvData = {
            labels: [],
            datasets: [{
                label: 'Radiación UV',
                data: [],
                fill: false,
                borderColor: 'rgba(255, 99, 132, 1)',
                tension: 0.1
            }]
        };

        var temperatureData = {
            labels: [],
            datasets: [{
                label: 'Temperatura',
                data: [],
                fill: false,
                borderColor: 'rgba(255, 99, 132, 1)',
                tension: 0.1
            }]
        };

        var humidityData = {
            labels: [],
            datasets: [{
                label: 'Humedad',
                data: [],
                fill: false,
                borderColor: 'rgba(54, 162, 235, 1)',
                tension: 0.1
            }]
        };

        // Crea los gráficos
        var rainChart = new Chart(document.getElementById('rainChart').getContext('2d'), {
            type: 'line',
            data: rainData
        });

        var uvChart = new Chart(document.getElementById('uvChart').getContext('2d'), {
            type: 'line',
            data: uvData
        });

        var temperatureChart = new Chart(document.getElementById('temperatureChart').getContext('2d'), {
            type: 'line',
            data: temperatureData
        });

        var humidityChart = new Chart(document.getElementById('humidityChart').getContext('2d'), {
            type: 'line',
            data: humidityData
        });

        // Función para actualizar los datos y los gráficos en tiempo real
    function updateCharts() {
    // Obtiene los datos del servidor Flask
    fetch('/data')
        .then(response => response.json())
        .then(data => {
            // Actualiza las etiquetas de tiempo
            data.forEach(entry => {
                var time = new Date(entry[1]).toLocaleTimeString();
                rainData.labels.push(time);
                uvData.labels.push(time);
                temperatureData.labels.push(time);
                humidityData.labels.push(time);
            });

            // Limita la cantidad de etiquetas a mostrar
            const maxLabels = 50;
            if (rainData.labels.length > maxLabels) {
                rainData.labels.splice(0, data.length);
                uvData.labels.splice(0, data.length);
                temperatureData.labels.splice(0, data.length);
                humidityData.labels.splice(0, data.length);
            }

            // Actualiza los datos de los gráficos
            data.forEach(entry => {
                rainData.datasets[0].data.push(entry[2]);
                uvData.datasets[0].data.push(entry[3]);
                temperatureData.datasets[0].data.push(entry[4]);
                humidityData.datasets[0].data.push(entry[5]);
            });

            // Limita la cantidad de datos a mostrar
            if (rainData.datasets[0].data.length > maxLabels) {
                rainData.datasets[0].data.splice(0, data.length);
                uvData.datasets[0].data.splice(0, data.length);
                temperatureData.datasets[0].data.splice(0, data.length);
                humidityData.datasets[0].data.splice(0, data.length);
            }

            // Actualiza los gráficos
            rainChart.update();
            uvChart.update();
            temperatureChart.update();
            humidityChart.update();
        })
        .catch(error => console.error('Error fetching data:', error));
}
        // Llama a la función de inicialización al cargar la página
        updateCharts();

        // Actualiza los gráficos cada 5 segundos (ajusta según sea necesario)
        setInterval(updateCharts, 10000);
    </script>

</body>
</html>
